        .tools {
            margin-bottom: 10px;
        }

            .tools a {
                border: 1px solid black;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                color: black;
                font-weight: bold;
            }

        .center-div {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 700px;
            height: 650px;  
            /*border-style: dashed;          
            border-radius: 3px;*/
        }
        .canvas {
            background:white;
            border-style:dashed;
            border-radius: 3px;
        }